body { font: 13px Helvetica, Arial; }
#nodeChat_container,#nodeChat_search_container {
	max-width:900px;
	padding:5px;
	margin: 10px auto;
	
	border:solid 1px #aaa;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

ul#nodeChat_messages, ul#nodeChat_userlist{
	list-style:none;
	overflow-y:scroll;
	overflow-x:auto;
	height:600px;
	border: solid 1px #bbb;
	margin:0 0 10px;
	padding:0;
}

#nodeChat_messages li.nodeChat_chat_message{
	background: #fff url('nodeChat_msgBG.jpg') repeat-x bottom;
	font-size: 12px;
	word-wrap: break-word;
}

#nodeChat_messages .nodeChat_system_message {
	font-size: 11px;
}

#nodeChat_messages li.nodeChat_chat_message, #nodeChat_messages li.nodeChat_system_message{
	margin:0;
	padding: 5px 2px;
}

#nodeChat_messages .nodeChat_chat_message div, #nodeChat_messages li.nodeChat_system_message div{
	padding:0 5px 0 1px;
	text-align:justify;
}

#nodeChat_messages .nodeChat_timestamp {
	font-size:10px;
	color:#666;
	display: none;
}

#nodeChat_userlist > li{
	padding: 0 0 0 5px;
}

#nodeChat_userOptions > li {
	margin:2px;
	padding:0;
	position:relative;
}

#textColor {
	position: relative;
	width: 36px;
	height: 36px;
	background: url(../images/select.png);
}
#textColor div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(../images/select.png) center;
}

/* Initial display settings */
#nodeChat_login {
	display:block;
}
#nodeChat_client{
	display:none;
}