* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }

#nodeChat_login {
	padding:30% 0 0;
}

#nodeChat_messages, #nodeChat_users {
	list-style:none;
	overflow-y:scroll;
	overflow-x:auto;
	height:500px;
	border: solid 1px #eee;
}
#nodeChat_messages li.message {
	margin: 0;
	background: #fff url('nodeChat_msgBG.jpg') repeat-x bottom;
}
#nodeChat_users li{
	padding: 0 0 0 5px;
}

.nodeChat_systemlabel {
	background:#f00;
	color:#fff;
	margin: 2px 5px 0 0;
	padding:5px;
}
.nodeChat_userlabel {

	margin: 2px 5px 0 0;
	padding:5px;
}

/* Initial display settings */
#nodeChat_login {
	display:block;
}
#nodeChat_chatbox, #nodeChat_input, #nodeChat_username{
	display:none;
}

