* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }

#nodeChat_login {
	padding:30% 0 0;
}

#nodeChat_messages, #nodeChat_users {
	list-style:none;
}

#nodeChat_login {
	display:block;
}

#nodeChat_chatbox, #nodeChat_input{
	display:none;
}