* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }

#nodeChat_login {
	padding:30% 0 0;
}

#nodeChat_messages, #nodeChat_users {
	list-style:none;
	overflow-y:scroll;
	overflow-x:auto;
	height:500px;
	border: solid 1px #eee;
}

.nodeChat_systemlabel {
	background:#f00;
	padding:5px;
	color:#fff;
}
.nodeChat_userlabel {
	background:#0f0;
	padding:5px;
	color:#fff;
}

/* Initial display settings */
#nodeChat_login {
	display:block;
}
#nodeChat_chatbox, #nodeChat_input, #nodeChat_username{
	display:none;
}

